.footer {
	font-family: "courier";
	font-size: 10px;
}
@font-face {
	font-family: 'Conv_OleoScript-Regular';
	src: url('OleoScript-Regular.woff');
	font-weight: normal;
	font-style: normal;
}
a:visited {
	color: red;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
p {
	text-align: center;
}
.jumbotron {
	font-family: "Conv_OleoScript-Regular";
	font-size: 40px;
	color: #e79800;	
}
@font-face {
	font-family: 'Glyphicon Halflings';
	src: url('glyphicon-halflings-regular.eot') 
}