.track {
	font-family: "Arial";
	font-size: 16px;
	font-style: oblique;
	color: blue;
}
.title {
	font-family: "Times New Romans";
	font-size: 20px;
	font-style: bold;
	color: orange;
}
.length {
	font-family: "Courier New";
	font-size: 24px;
	font-style: italic;
	color: red;
}