.header {
	font-family: "Conv_OleoScript-Regular";
	font-size: 40px;
	color: orange;
}
.footer {
	font-family: "courier";
	font-size: 10px;
}
@font-face {
	font-family: 'Conv_OleoScript-Regular';
	src: url('OleoScript-Regular.woff');
	font-weight: normal;
	font-style: normal;
}